<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head('index')"></head>
<body>

<div th:replace="layout :: toppurinn"></div>
<div th:replace="layout :: searchbar"></div>

<div class="row">
    <div th:each="event : ${events}" class="col s12 l4">
            <a th:href="@{|/events/${event.id}|}" class="actions"></a>
            <p th:text="${event.title}">Not working?</p>
            <p th:text="${event.description}">Not working?</p>
            <p th:text="${event.price}">Not working?</p>
        </div>
        </div>



<div th:replace="layout :: scripts"></div>
</body>

</html>
