<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head('index')"></head>
<body>

<div th:replace="layout :: toppurinn"></div>


<div class="event container">
    <h2 th:text="${event.title}" th:style="|color:${event.colorCode}|"></h2>
    <div class="row">
        <div th:each="event : ${event}" class="col s12 l4">
            <a th:href="@{|/event/${event.id}|}">   </a>
            <p th:text="${event.title}">Not working?</p>
            <p th:text="${event.description}">Not working?</p>
            <p th:text="${event.price}">Not working?</p>
        </div>
    </div>
    <div class="col s12 l8">
        <button th:text="${submit}" type="submit" class="button">book</button>
        <a th:href="@{/}" class="button">Cancel</a>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>

</html>
