<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head('index')"></head>
<body>
<div th:replace="layout :: toppurinn"></div>
    <form th:action="@{${action}}" method="post" th:object="${event}">
        <input type="hidden" th:field="*{id}"/>
        <h2 th:text="${heading}">New Event</h2>
        <input type="text" th:field="*{title}" placeholder="Event title"/>
        <input type="text" th:field="*{description}" placeholder="Event desc"/>
        <input type="text" th:field="*{location}" placeholder="Event loc"/>
        <input type="text" th:field="*{category}" placeholder="Event categ"/>
        <input type="text" th:field="*{dateStart}" placeholder="Event dateStart"/>
        <input type="text" th:field="*{dateEnd}" placeholder="Event dateEnd"/>
        <input type="text" th:field="*{price}" placeholder="Event price"/>

        <select th:field="*{colorCode}" class="cs-select cs-skin-border">
            <option value="" disabled="disabled">Event Color</option>
            <option th:each="color : ${colors}" th:value="${color.hexCode}" th:text="${color.name}" th:style="|color:${color.hexCode}|">Aqua</option>
        </select>
        <button th:text="${submit}" type="submit" class="button">Add</button>
        <a th:href="@{/categories}" class="button">Cancel</a>
    </form>
<div th:replace="layout :: scripts"></div>
</body>
</html>
