<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>EventTests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900" rel="stylesheet"/>

    <!-- stylesheets fra giflib -->



</head>
<body>

<div th:each="templates.event : ${events}">
    <p th:text="${templates.event.title}">Not working?</p>
</div>


</body>
</html>

<!--

 -->