<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head('login')"></head>
<body>

<div th:replace="layout :: toppurinn"></div>


<div class = "container">
    <form th:action="@{/login}" method="post">

        <h2> Log In </h2>
        <div><label> User ID : <input type="text" placeholder="Put in your ID" name="id"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>

    </form>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>



